.like {
    display: flex;
    align-items: center;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
    gap: 16px;
}

#home .like {
    border: none;
}

.like svg {
    font-size: 24px;
    cursor: pointer;
}